# Data and outputs
checkpoints/**
!checkpoints/ddpm/
!checkpoints/ddpm/ckpt_epoch_0299.pkl
flow-data/
monitoring/
creds.txt

# Large binary files
*.pkl
!checkpoints/ddpm/ckpt_epoch_0299.pkl
*.npy

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Environment
.env
.venv
.vscode/

# OS
.DS_Store
